/* Styling for the bidding cart container */

.biddingCartcontainer{
margin-top: 100px;
}
#cart-items,
#available-items {
  margin-bottom: 20px;
}

/* Styling for the list of items */
#item-listbid,
#available-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Styling for each item in the list */
li {
  display: flex;
  flex-direction: column;
  
 
}

/* Styling for the item image */
img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin-bottom: 5px;
  
}

/* Styling for the remove button */
button {
  margin-top: 10px;
}

/* Styling for the total amount */
#cart-total {
  font-weight: bold;
}

/* Additional styles for the container */
h1 {
  text-align: center;
  margin-bottom: 20px;
}
