/* Sidebar Styles */
.container{
  position: relative;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  padding: 20px;
  width: 100%;
  z-index: 1;
  margin-top: 10px;
}
.Footer{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  padding: 20px;
  margin-top: 10px;
  width: 100%;
  z-index: 1;
}
.navbar-logo {
  margin-right: 10px;
}
 .navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
 
 
}

 .navbar-item{
  margin-left:  10px;
  margin-right: 15px;
  justify-content: space-between;
}


/* Link Styles */
.navbar a {
  display:flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
  
}

.navbar a:hover {
  color: goldenrod;
  font-weight: bold;
}

.active {
  font-weight: bold;
}
.backg{
  margin-top:40px;
  height:calc(100vh - 60px);
object-fit: cover;
  width:100%;
}
